html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.posrel {
    position: relative;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.mb40px {
    margin-bottom: 40px;
}

.mt20px {
    margin-top: 20px;
}

header {
    width: 100%;
    height: 70px;
    float: left;
    background-color: #000000;
}

.logo {
    width: 40px;
    float: left;
}

.logo img {
    width: 100%;
    margin: 7.5px 0;
}

.menu {
    float: right;
}

.menu .mobmenu {
    display: none;
    margin: 25px;
    cursor: pointer;

}

.menu .mobmenu span {
    display: block;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    background-color: #ffffff;
}

.closemenu {
    display: block;
    border-bottom: 1px solid #383838;
    height: 35px;
    display: none;
}

.closemenu span {
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    margin: 18px 7px;

}

.closemenu span:first-child {
    transform: rotate(45deg);
}

.closemenu span:last-child {
    transform: rotate(-45deg);
}

.menu li {
    display: inline-block;
    padding: 26px 0;
    margin-right: 25px;
    position: relative;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.menu li:after {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ffa600;
    transition: .4s all;
    display: block;
    position: absolute;
    bottom: 1px;
}

.menu li:hover a {
    color: #ffa600;
}

.menu li:hover:after,
.menu li.active:after {
    width: 100%;
}

.menu li.join a {
    background-color: #ff2f2f;
    border-radius: 25px;
    padding: 3px 18px;
}

.menu li.join:after {
    display: none;
}

.banner {
    width: 100%;
    height: 440px;
    background-image: url(../images/Banner-images2.JPG);
    background-position: center;
    background-size: cover;
    float: left;
    background-repeat: no-repeat;
}

.bannercwc {
    width: 50%;
    float: left;
    padding-top: 120px;
    padding-bottom:25px;
}

.bannercwc h1 {
    font-size: 7em;
    color: #ffffff;
    font-weight: 600;
}

.bannercwc h2 {
    color: #000000;
    position: relative;
    display: inline;
    overflow: hidden;
}

.bannercwc h2 span {
    position: relative;
    z-index: 99;
    font-size: 18px;
}

.bannercwc h2:after {
    width: 305%;
    height: 30px;
    content: '';
    position: absolute;
    top: -10px;
    left: -200%;
    right: 0;
    background-color: #ffba00;
    z-index: 9;
}

.upevent {
    width: 50%;
    float: left;
}

.eventsdet {
    width: 300px;
    height: 440px;
    padding: 10px 35px;
    float: right;
    background-color: #ffffff;
    box-sizing: border-box;
}

.eventsdet h1 {
    font-size: 20px;
    color: #000000;
    margin: 12px 0;
    display: block;
    float: left;
}

.eventcont {
    width: 100%;
    float: left;
}

.eventlst {
    border: 2px solid #e0e0e0;
    float: left;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin: 10px 0;
}

.eventlst h3 {
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
}

.eventlst a {
    color: #3581ff;
    font-size: 12px;
    text-decoration: none;
}

.eventlst:hover {
    box-shadow: 0px 0px 19.4px 0.6px rgba(0, 0, 0, 0.14);
    border: 2px solid #ffffff;
}

.evndate {
    float: left;
    margin-right: 20px;
}

.evndate label {
    display: block;
    font-size: 22px;
    color: #ffa600;
}

.evndate span {
    display: block
}

.evndate span:first-child {
    font-size: 22px;
    color: #ffa600;
    font-weight: 700;
}

.evndate span:last-child {
    font-size: 13px;
}

.aboutus {
    width: 100%;
    float: left;
}

.aboutimg {
    background-color: #1a1a1a;
    width: 70%;
    min-height: 300px;
    margin: 180px 0 80px;
    position: relative;
}

.aboutimg img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.aboutmsg {
    background-color: #ffba00;
    width: 45%;
    position: absolute;
    top: -100px;
    right: 0;
    padding: 3%;
    overflow: hidden;
}

.aboutmsg h1 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: #000000;
}

.aboutmsg h1:after {
    width: 200px;
    height: 1px;
    background-color: #000000;
    content: '';
    display: block;
    margin-left: -100px;
    margin-top: 10px;
}

.aboutmsg a {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background-color: #212121;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 15px;
}

.aboutmsg a span {
    width: 25px;
    height: 2px;
    display: block;
    background-color: #ffffff;
    margin: 5px 0;
}

.aboutmsg a span:after {
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    transform: rotate(-45deg);
    position: relative;
    top: 1px;
    left: 17px;
    content: '';
}

.aboutmsg a span:before {
    width: 10px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    transform: rotate(45deg);
    position: relative;
    top: -3px;
    left: 17px;
    content: '';
}

.aboutmsg p {
    line-height: 1.8;
    color: #000000;
    font-size: 14px;
}

.eventcard {
    width: 28%;
    float: left;
    height: 350px;
    overflow: hidden;
    border: 1px solid #c1c1c1;
    box-sizing: border-box;
    position: relative;
    margin-right: 8%;
}

.eventcard:nth-child(3n) {
    margin-right: 0;
}

.gallery {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}


.gallerycol {
    -ms-flex: 32%;
    flex: 32%;
    max-width: 32.5%;
    padding: 0 5px;
}

.gallrycrd {
    width: 100%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 5%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.04), 0 1px 5px 0 rgba(0, 0, 0, 0.03);
}

.gallrycrd:hover .eventdesc {
display:block;
}

.gallrycrd img {
    width: 100%;
}

.eventcard:nth-child(3n) {
    margin-right: 0;
}
.events {
    margin-bottom: 5%;
    width: 100%;
    float: left;
}

.events h1 {
    font-size: 22px;
    font-weight: 600;
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.events h1 span {
    background-color: #ffffff;
    padding-right: 10px
}

.events h1:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000000;
    display: block;
}

.eventcard img {
    width: 100%;
}

.eventtitle {
    width: 100%;
    height: 60px;
    position: absolute;
    float: left;
    background-color: #ffffff;
    z-index: 99;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
}

.eventtitle .profilnam {
    width: calc(100% - 50px);
}

.eventcard:hover .eventtitle {
    display: none;
}

.eventdesc {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6784313725490196);
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    padding: 15px;
    box-sizing: border-box;
}

.eventcard:hover .eventdesc,
.grid__item:hover .eventdesc {
    display: block;
}

.eventdesc h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    line-height: 2;
}

.eventdesc p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.8;
}

.eventseeall {
    background-color: #ffba00;
    color: #000000;
    font-size: 16px;
    float: right;
    display: block;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 25px;
    margin-top: 20px
}

.contactform {
    width: 100%;
    float: left;
    background-color: #000000;
}

.contactform h1 {
    font-weight: 600;
    font-size: 28px;
    color: #ffffff;
    text-align: center;
    margin: 60px 0 10px;
}

.contactform form {
    width: 70%;
    margin: 3% auto 4%;
}

.forminput {
    width: 100%;
}

.forminput input {
    background-color: #ffffff;
    height: 50px;
    width: 31%;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px;
    outline: none;
}

.forminput input.sec {
    margin: 0 3.06%;
}

.forminput textarea {
    width: 100%;
    height: 100px;
    margin: 25px 0 15px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 8px;
    outline: none;
    resize: vertical;
}

.contactform p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin: 5px 0 3%;
}
.contactform ul{
text-align: center;
margin-bottom:5%;
}
.contactform li{
    display: inline-block;
}
.contactform li a img{
    width:30px;
    margin: 0 5px;
}
.bigtitund {
    margin-bottom: 5%;
    width: 100%;
    float: left;
}

.bigtitund h1 {
    font-size: 22px;
    font-weight: 600;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    color: #000000;
}

.bigtitund h1 span {
    background-color: #ffffff;
    padding-right: 10px
}

.bigtitund h1:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000000;
    display: block;
}

.probtm {
    width: calc(100% - 30px);
    float: left;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.profilimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}

.profilimg img {
    width: 100%;
}

.profilnam {
    float: left;
    width: calc(100% - 50px);
}

.profilnam h3 {
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profilnam h4 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gallaryname {
    background-color: #ffffff;
}

.gallaryname h2 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 8px 10px;
}

.introboxinr {
    width: 18%;
    height: 200px;
    background-color: #ffa600;
    float: left;
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 1.25%;
}

.introboxinr:first-child {
    margin: 0 1.2% 0 0;
}

.introboxinr:last-child {
    margin: 0 0 0 1.2%;
}

.intoboxlab {
    width: 100%;
    float: left;
}

.intoboxlab .labdiv span {
    line-height: 2;
    color: #000000;
}

.intoboxlab .labdiv:before {
    width: 10px;
    height: 25px;
    background-color: #ffffff;
    content: '';
    display: block;
    float: left;
}

.intoboxlab .labdiv:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ffa600;
    content: '';
    display: block;
    float: left;
    height: 10px;
    margin: 0;
    position: relative;
    left: -12px;
    top: 8px;
}

.introboxinr h2 {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 0;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adddisbtn {
    width: 100%;
    float: left;
}

.adddisbtn a {
    border: 2px dashed #000000;
    color: #000000;
    padding: 20px 30px;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

.discuslist ul {
    float: left;
    width: 100%;
    margin: 20px 0;
}

.discuslist li {
    float: left;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.discuslist li:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 19.4px 0.6px rgba(0, 0, 0, 0.14);
}

.discuslist .dismsg h3 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 7px;
}

.discuslist li:hover .dismsg h3 {
    color: #ffa600;
}

.discuslist .dismsg p {
    font-size: 14px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.dismsg {
    width: 65%;
}

.disaut {
    width: 25%;
}

.distim {
    width: 10%;
}

.distim span {
    margin-top: 8px;
    display: block;
    color: #ffa200;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.disccomt {
    width: 65%;
    margin: 1% 10% 1% 25%;
    float: left;
    line-height: 2;
    font-size: 14px;
    display: none;
}
.disccomt img{
    width:90%;
    height:100%;
    margin: 1% 0;
}
.videocont {
    width: 100%;
    float: left;
}

.vidoemain {
    width: 70%;
    float: left;
}

.videolst {
    width: 30%;
    float: left;
}

.vidoemain h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0
}

.vidoemain p {
    font-size: 14px;
    line-height: 1.5;
}

.mainplay {
    width: 96%;
    height: 350px;
    background-color: #000000;
    display: flex;
}

.mainplay span {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #ffa600;
    border-radius: 50%;
    margin: auto;
}

.mainplay span:after {
    content: '';
    border-left: 25px solid #ffffff;
    border-bottom: 18px solid transparent;
    border-top: 18px solid transparent;
    display: block;
    height: 0px;
    width: 0;
    margin: 22px 30px;
}

.listplay {
    width: 40%;
    height: 90px;
    background-color: #000000;
    display: flex;
}

.listplycont {
    width: 100%;
    float: left;
    margin: 0 0 40px
}

.listplay span {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #ffa600;
    border-radius: 50%;
    margin: auto;
}

.listplay span:after {
    content: '';
    border-left: 16px solid #ffffff;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    display: block;
    height: 0px;
    width: 0;
    margin: 9px 15px;
}

.listplydet {
    width: 60%;
    padding-left: 10px;
    box-sizing: border-box;
}

.listplydet h3 {
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 5px;
}

.listplydet p {
    font-size: 11px;
    line-height: 1.5;
}
.zf-tempFrmWrapper{
width:100%;

}
.zf-fmFooter{
  width:100%;
  padding: 0 !important;
}
